<?xml version="1.0" encoding="utf-8" ?>
<log4net debug="true">
  <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="D:\\Logs\\ImportLightAd\\log.log"/>
    <appendTofile value="true"/>
    <rollingStyle value="Date"/>
    <datePattern value="_yyyyMMdd'.log'"/>
    <maxSizeRollBackups value="30"/>
    <maximumfileSize value="1Mb"/>
    <layout type="log4net.Layout.PatternLayout">
      <header value="[Header] 开始日志记录 &#13;&#10;" />
      <footer value="[Footer] 结束日志记录 &#13;&#10;" />
      <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-20.20M - %m%n" />
    </layout>
  </appender>

  <root>
    <priority value="ALL"/>
    <appender-ref ref="RollingLogFileAppender"/>
  </root>
</log4net>